In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# chargement du fichier csv
df = pd.read_csv('SBAnational.csv')

C:\Users\nicol\AppData\Local\Temp\ipykernel_21304\1245351179.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SBAnational.csv')

In [4]:
# Vérification des types des variables
df.dtypes

LoanNr_ChkDgt          int64
Name                  object
City                  object
State                 object
Zip                    int64
Bank                  object
BankState             object
NAICS                  int64
ApprovalDate          object
ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
ChgOffDate            object
DisbursementDate      object
DisbursementGross     object
BalanceGross          object
MIS_Status            object
ChgOffPrinGr          object
GrAppv                object
SBA_Appv              object
dtype: object

## Gestion des valeurs manquantes

In [5]:
# détection des valeurs manquantes
df.isnull().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [6]:
# remplacer les valeurs manquantes de la variable 'Name' par 'unknown'
df['Name'] = df['Name'].fillna('unknown')

In [7]:
# remplacer les valeurs manquantes de la variable 'City' par 'unknown'
df['City'] = df['City'].fillna('unknown')

In [38]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState                 0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr                 0
LowDoc                    0
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [9]:
df.loc[df['State'].isnull()]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
35517,1270833006,SO. JERSEY DANCE/MERRYLEES,PENNSVILLE,NaN,8070,NaN,NaN,0,28-Jul-81,1981,...,N,N,5-Mar-90,NaN,$0.00,$0.00,NaN,"$11,364.00","$15,000.00","$15,000.00"
49244,1380800010,TRYON COATS & LEATHER,JOHNSTOWN NY,NaN,0,KEYBANK NATIONAL ASSOCIATION,NY,0,18-May-66,1966,...,N,N,29-Mar-90,16-Aug-66,"$60,000.00",$0.00,CHGOFF,"$6,084.00","$60,000.00","$54,000.00"
264664,2850643009,CENTURY 21 PHILLIPS REALTY,CAMERON PARK,NaN,95682,SBA - EDF ENFORCEMENT ACTION,CO,0,12-Feb-87,1987,...,N,N,NaN,17-Jun-87,"$81,000.00",$0.00,P I F,$0.00,"$83,000.00","$83,000.00"
306274,3113583009,THE COMPUTER EDGE,"BOX 267, APO AP",NaN,96205,RTC/WESTPORT SAVINGS BANK,CA,541511,21-Jan-88,1988,...,N,N,18-Sep-93,16-Mar-88,"$50,000.00",$0.00,CHGOFF,"$30,589.00","$50,000.00","$45,000.00"
328526,3280213000,KING'S TRUCK WASH,WICHITA,NaN,67219,SOUTH CENT. KANSAS ECONOMIC DE,KS,811192,5-Aug-88,1988,...,N,N,NaN,12-Jul-89,"$119,000.00",$0.00,P I F,$0.00,"$119,000.00","$119,000.00"
351072,3445553007,JAMES A. NICHOLS,"1542,TABUK,SAUDI ARABIA",NaN,79925,WELLS FARGO BANK NATL ASSOC,TX,532230,19-May-89,1989,...,N,N,NaN,31-Jul-89,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$54,000.00"
366139,3556993002,"GOLF SHOES UNLIMITED, INC.",PALM BEACH GARDENS,NaN,33410,"BEAL BANK, SSB",TX,451110,19-Oct-89,1990,...,N,N,NaN,31-Jan-90,"$75,000.00",$0.00,P I F,$0.00,"$75,000.00","$67,500.00"
366158,3557093005,CASCO SERVICE,CASCO,NaN,54205,UNION STATE BANK,WI,0,19-Oct-89,1990,...,N,N,NaN,30-Apr-90,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$252,600.00"
367007,3563473008,P & P TOOL INC,SOMERSET,NaN,54025,FIRST BANK OF BALDWIN,WI,0,26-Oct-89,1990,...,N,N,NaN,31-Jan-90,"$82,000.00",$0.00,P I F,$0.00,"$82,000.00","$73,800.00"
379174,3664443009,WILLIAMS JEWELERS,SALT LAKE CITY,NaN,84124,ZIONS FIRST NATIONAL BANK,UT,448310,14-Dec-89,1990,...,N,N,NaN,31-Jul-90,"$250,000.00",$0.00,P I F,$0.00,"$250,000.00","$212,500.00"
385418,3714383003,"LAKE MOVIE TYMES, INC.",LAKE OZARK,NaN,65049,CENTRAL BK OF LAKE OF OZARKS,MO,532230,4-Jan-90,1990,...,N,N,NaN,31-Jan-90,"$75,000.00",$0.00,P I F,$0.00,"$75,000.00","$67,500.00"
869948,9390913007,"OLSON ELECTRIC SERVICE, INC.",A452638533,NaN,75236,PROSPERITY BANK,TX,235310,9-Jul-96,1996,...,N,Y,NaN,31-Jul-96,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
871847,9416233003,METRO SHEETMETAL & ERECTION,A452638533,NaN,76052,PROSPERITY BANK,TX,235610,23-Jul-96,1996,...,N,Y,NaN,31-Jul-96,"$80,000.00",$0.00,P I F,$0.00,"$80,000.00","$64,000.00"
885335,9690723000,"VERANDA INTERIORS, INC.",A452638533,NaN,76645,PROSPERITY BANK,TX,0,24-Oct-96,1997,...,N,N,NaN,31-Jan-97,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$80,000.00"

## Déduction des valeurs manquantes pour les variables 'State' et 'Zip'

In [10]:
df.loc[35517,'State'] = "NJ"

In [11]:
df.loc[49244, 'State'] = "NY"
df.loc[49244, 'City'] = "JOHNSTOWN"
df.loc[49244, 'Zip'] = 12095

In [12]:
df.loc[264664,"State"] = "CA"

In [13]:
df.loc[328526, 'State'] = "KS"

In [14]:
df.loc[351072, 'City'] = 'EL PASO'
df.loc[351072, 'State'] = 'TX'

In [15]:
df.loc[366139, 'State'] = "FL"

In [16]:
df.loc[366158, 'State'] = "WI"

In [17]:
df.loc[367007,"State"] ="WI"

In [18]:
df.loc[379174,'State'] = "UT"

In [19]:
df.loc[385418, 'State'] = "MO"

In [20]:
df.loc[869948,'State'] = 'TX'

In [21]:
df.loc[871847, 'State'] = 'TX'

In [22]:
df.loc[885335, 'State'] = 'TX'

In [23]:
df.loc[306274, 'State'] = 'unknown'

In [24]:
# remplacer les valeurs manquantes de la variable 'Bank' par 'unknown'
df['Bank'] = df['Bank'].fillna('unknown')

In [25]:
# remplacer les valeurs manquantes de la variable 'BankState' par 'unknown'
df['BankState'] = df['BankState'].fillna('unknown')

In [26]:
# convertir les valeurs manquantes de la variable 'NewExist' en 0 et en type 'int'
df['NewExist'] = df['NewExist'].fillna(0)
df['NewExist'] = df['NewExist'].astype(int)

In [37]:
df.dtypes

LoanNr_ChkDgt         int64
Name                 object
City                 object
State                object
Zip                   int64
Bank                 object
BankState            object
NAICS                 int64
ApprovalDate         object
ApprovalFY           object
Term                  int64
NoEmp                 int64
NewExist              int64
CreateJob             int64
RetainedJob           int64
FranchiseCode         int64
UrbanRural            int64
RevLineCr             int64
LowDoc                int64
ChgOffDate           object
DisbursementDate     object
DisbursementGross    object
BalanceGross         object
MIS_Status           object
ChgOffPrinGr         object
GrAppv               object
SBA_Appv             object
dtype: object

### Variable 'RevLineCr'

In [30]:
df['RevLineCr'].value_counts()

RevLineCr
N    420288
0    277479
Y    201397
Name: count, dtype: int64

In [31]:
# Remplacer toutes les valeurs de la variable 'RevLineCr' sauf "Y" et "N" par 0 (unknown)
df.loc[~df['RevLineCr'].isin(['Y', 'N']), 'RevLineCr'] = "0"
# remplacer les valeurs "N" (no) par 1 
df['RevLineCr'] = df['RevLineCr'].str.replace("N", "1")
# remplacer les valeurs "Y" (yes) par 2
df['RevLineCr'] = df['RevLineCr'].str.replace("Y", "2")

# convertir la variable en type int
df['RevLineCr'] = df['RevLineCr'].astype(int)

### Variable 'LowDoc'

In [34]:
df['LowDoc'].value_counts()

LowDoc
N    782822
Y    110335
0      1491
C       758
S       603
A       497
R        75
1         1
Name: count, dtype: int64

In [35]:
# Remplacer toutes les valeurs de la variable 'LowDoc' sauf "Y" et "N" par 0 (unknown)
df.loc[~df['LowDoc'].isin(['Y', 'N']), 'LowDoc'] = "0"

# remplacer les valeurs "N" (no) par 1 
df['LowDoc'] = df['LowDoc'].str.replace("N", "1")

# remplacer les valeurs "Y" (yes) par 2
df['LowDoc'] = df['LowDoc'].str.replace("Y", "2")

# convertir la variable en type int
df['LowDoc'] = df['LowDoc'].astype(int)

In [36]:
df['LowDoc'].value_counts()

LowDoc
1    782822
2    110335
0      6007
Name: count, dtype: int64

### variables 'DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'

In [40]:
# supprimer des virgules
df['DisbursementGross'] = df['DisbursementGross'].str.replace(',','')

# supprimer des dollars
df['DisbursementGross'] = df['DisbursementGross'].str.replace('$','')

# transformation de la variable en type float
df['DisbursementGross'] = df['DisbursementGross'].astype(float)

In [42]:
# supprimer des virgules
df['BalanceGross'] = df['BalanceGross'].str.replace(',','')

# supprimer des dollars
df['BalanceGross'] = df['BalanceGross'].str.replace('$','')

# transformation de la variable en type float
df['BalanceGross'] = df['BalanceGross'].astype(float)

In [44]:
# supprimer des virgules
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].str.replace(',','')

# supprimer des dollars
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].str.replace('$','')

# transformation de la variable en type float
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].astype(float)

In [46]:
# supprimer des virgules
df['GrAppv'] = df['GrAppv'].str.replace(',','')

# supprimer des dollars
df['GrAppv'] = df['GrAppv'].str.replace('$','')

# transformation de la variable en type float
df['GrAppv'] = df['GrAppv'].astype(float)

In [48]:
# supprimer des virgules
df['SBA_Appv'] = df['SBA_Appv'].str.replace(',','')

# supprimer des dollars
df['SBA_Appv'] = df['SBA_Appv'].str.replace('$','')

# transformation de la variable en type float
df['SBA_Appv'] = df['SBA_Appv'].astype(float)

### variable 'MIS_Status

In [58]:
df['MIS_Status'].isnull().value_counts()

MIS_Status
False    897167
True       1997
Name: count, dtype: int64

In [ ]:
# Suppression des lignes ne comportant pas de valeur sur la variable 'MIS_Status'
df = df[~df['MIS_Status'].isnull()]

### Vérifications finales

In [62]:
# vérification des types des variables
df.dtypes

LoanNr_ChkDgt          int64
Name                  object
City                  object
State                 object
Zip                    int64
Bank                  object
BankState             object
NAICS                  int64
ApprovalDate          object
ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist               int64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr              int64
LowDoc                 int64
ChgOffDate            object
DisbursementDate      object
DisbursementGross    float64
BalanceGross         float64
MIS_Status            object
ChgOffPrinGr         float64
GrAppv               float64
SBA_Appv             float64
dtype: object

In [61]:
# Vérification des valeurs manquantes
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState                 0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr                 0
LowDoc                    0
ChgOffDate           734729
DisbursementDate       2175
DisbursementGross         0
BalanceGross              0
MIS_Status                0
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [63]:
# Création d'un fichier csv nettoyé
df.to_csv("dataset_sba_national_clean.csv", index = False)